<%- include('../includes/header.ejs') %>
<%- include('../includes/validationErrors.ejs') %>

<form action="/admin/localidades/adicionarLocalidade" method="post">
    <label for="localidade">Localidade</label>
    <input type="text" name="localidade" pattern="^[^0-9]+$" required><br>
    <input type="submit" name="adicionar" value="Adicionar">
</form>

<%- include('../includes/footer.ejs') %>