<%- include('../includes/header.ejs') %>
<div class="dummyTopSpacer"></div>
<%- include('../includes/breadcrumbs.ejs') %>

<div class="container_wrapper">
    <div class="actionBar__wrapper">
        <h2 class="actionBar__title">Adicionar Torneio</h2>
    </div>

    <div class="tabbedMenu__wrapper">
        <ul class="tabbedMenu">
            <li class="tabbedMenu__item tabbedMenu__item-selected">Torneio</li>
            <li class="tabbedMenu__item">Campos</li>
            <li class="tabbedMenu__item">Fases</li>
        </ul>
    </div>

    <div class="tabbedContent__wrapper">
        <div id="torneio" class="tabbedContainer tabbedContainer-open">
            Torneio
        </div>
        <div id="campos" class="tabbedContainer">
            Campos
        </div>
        <div id="fases" class="tabbedContainer">
            Fases
        </div>
    </div>
</div>

<script src="/js/torneios.js"></script>
<%- include('../includes/footer.ejs') %>