<%- include('../includes/header.ejs') %>
<div class="barraTorneio">
    <div class="barraTorneio__buttons">
        <% if(activeConnection) { %>
            <a href="/admin/sincronizacao/sincronizarTodos" class="btn btn-primary">Sincronizar Todos</a>
        <% } else { %>
            <span class="btn btn-disabled">Sincronizar Todos</span>
        <% } %>
    </div>
</div>
<%- include('../includes/breadcrumbs.ejs') %>

<div class="container_wrapper">
    <div class="actionBar__wrapper">
        <h2 class="actionBar__title">Sincronização</h2>
    </div>

    <div class="table__wrapper">
        <table class="mainTable">
            <tbody>
                <tr>
                    <td>Torneios</td>
                    <td class="detalhesBtn__column"></td>
                    <td class="detalhesBtn__column">
                        <% if(activeConnection) { %>
                            <a href="/admin/sincronizacao/sincronizarTorneios" class="btn btn-secondary">Sincronizar</a>
                        <% } else { %>
                            <span class="btn btn-disabled">Sincronizar</span>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td>Localidades</td>
                    <td class="detalhesBtn__column"></td>
                    <td class="detalhesBtn__column">
                        <% if(activeConnection) { %>
                            <a href="/admin/sincronizacao/sincronizarLocalidades" class="btn btn-secondary">Sincronizar</a>
                        <% } else { %>
                            <span class="btn btn-disabled">Sincronizar</span>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td>Escalões</td>
                    <td class="detalhesBtn__column"></td>
                    <td class="detalhesBtn__column">
                        <% if(activeConnection) { %>
                            <a href="/admin/sincronizacao/sincronizarEscaloes" class="btn btn-secondary">Sincronizar</a>
                        <% } else { %>
                            <span class="btn btn-disabled">Sincronizar</span>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td>Equipas</td>
                    <td class="detalhesBtn__column"></td>
                    <td class="detalhesBtn__column">
                        <% if(activeConnection) { %>
                            <a href="/admin/sincronizacao/sincronizarEquipas" class="btn btn-secondary">Sincronizar</a>
                        <% } else { %>
                            <span class="btn btn-disabled">Sincronizar</span>
                        <% } %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>

<%- include('../includes/footer.ejs') %>