<%- include('../includes/header.ejs') %>
<div class="dummyTopSpacer"></div>
<%- include('../includes/breadcrumbs.ejs') %>

<div class="container_wrapper">
    <div class="actionBar__wrapper">
        <h2 class="actionBar__title">Sincronização</h2>
    </div>

    <div class="table__wrapper">
        <table class="mainTable">
            <tbody>
                <tr>
                    <td>Torneios</td>
                    <td class="detalhesBtn__column"></td>
                    <td class="detalhesBtn__column"><a class="btn btn-secondary changeServerPort-btn">Sincr nizar</a></td>
                </tr>
                <tr>
                    <td>Localidades</td>
                    <td class="detalhesBtn__column"></td>
                    <td class="detalhesBtn__column"><a class="btn btn-secondary changeServerPort-btn">Sincronizar</a></td>
                </tr>
                <tr>
                    <td>Escalões</td>
                    <td class="detalhesBtn__column"></td>
                    <td class="detalhesBtn__column"><a class="btn btn-secondary changeServerPort-btn">Sincronizar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>

<%- include('../includes/footer.ejs') %>