        <!-- Footer -->
        </div>
    </div>
    <!-- Mesagens -->
    <%- include('messages.ejs') %>

    <!-- Conexão à plataforma Web -->
    <div class="connectionStatus <%= !activeConnection ? 'noConnection' : 'connection' %>">
        <div class="connectionStatus__expanded">
            <i class="fas fa-network-wired"></i>
            <p class="connectionStatus--text"><%= !activeConnection ? 'Ligação não activa' : 'Ligação activa' %></p>
        </div>
    </div>

<script src="/js/main.js"></script>
</body>
</html>