            <!-- ./Page Content -->
            </div>

        <!-- Footer -->
        <!--{{> footer}}-->
        </div>
    </div>
    <!-- Mesagens -->
    <%- include('messages.ejs') %>
    
<script src="/js/main.js"></script>
</body>
</html>