        <!-- Footer -->
        </div>
    </div>
    <!-- Mesagens -->
    <%- include('messages.ejs') %>

<script src="/js/sweetalert2.all.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>