<% if(success.length > 0){ %>
<div class="success_msg">
    <p class="msg_text"><%= success %></p>
    <a href="#" class="msg_close">x</a>
</div>
<% } %>

<% if(error.length > 0){ %>
<div class="error_msg">
    <p class="msg_text"><%= error %></p>
    <a href="#" class="msg_close">x</a>
</div>
<% } %>

<% if(info.length > 0){ %>
<div class="info_msg">
    <p class="msg_text"><%= info %></p>
    <a href="#" class="msg_close">x</a>
</div>
<% } %>

<% if(warning.length > 0){ %>
<div class="warning_msg">
    <p class="msg_text"><%= warning %></p>
    <a href="#" class="msg_close">x</a>
</div>
<% } %>