<div class="navigation__wrapper">
    <img src="/imagens/logoMalha.png" alt="Logotipo Malha" class="logo">
    <div class="navigation">
        <ul>
            <li><a href="/equipas"><i class="fas fa-user-friends"></i>Equipas</a></li>
            <li><a href="/torneio"><i class="fas fa-trophy"></i>Torneio</a></li>
            <li><a href="/listagens"><i class="fas fa-list"></i>Listagens</a></li>
            <% if(loggedUser.level === 10 || loggedUser.level === 5){ %>
                <li class="admin_menu_item"><a href="/admin"><i class="fas fa-user-cog"></i>Administração</a>
                    <ul>
                        <% if(loggedUser.level === 10){ %>
                            <li><a href="/admin/utilizadores">Utilizadores</a></li>
                        <% } %>
                        <li><a href="/admin/escaloes">Escalões</a></li>
                        <li><a href="/admin/torneios">Torneios</a></li>
                        <li><a href="/admin/localidades">Localidades</a></li>
                        <% if(loggedUser.level === 10){ %>
                            <li><a href="/admin/configuracoes">Configurações</a></li>
                        <% } %>
                    </ul>
                </li>
            <% } %>
        </ul>
    </div>

    <div class="user__wrapper">
        <div class="user">
            <% if(loggedUser){ %><i class="fa fa-user-circle"></i><%= loggedUser.username %><% } %>
        </div>
        <div class="user_nav">
            <ul>
                <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>