<div class="navigation__wrapper">
    <img src="/imagens/malha-logo.png" alt="Logotipo Malha" class="logo">
    <div class="navigation">
        <ul>
            <li><a href="/equipas"><i class="fas fa-user-friends"></i>Equipas</a></li>
            <li><a href="/torneio"><i class="fas fa-trophy"></i>Torneio</a></li>
            <li><a href="/listagens"><i class="fas fa-list"></i>Listagens</a></li>
            {{#ifCond user.status '==' 1}}
                <li class="admin_menu_item"><a href="/admin"><i class="fas fa-user-cog"></i>Administração</a>
                    {{#if adminMenu}}
                    <ul>
                        <li><a href="/admin/utilizadores">Utilizadores</a></li>
                        <li><a href="/admin/escaloes">Escalões</a></li>
                        <li><a href="/admin/torneios">Torneios</a></li>
                        <li><a href="/admin/localidades">Localidades</a></li>
                    </ul>
                    {{/if}}
                </li>
            {{/ifCond}}
        </ul>
    </div>

    <div class="user">
        
    </div>
</div>