<% if(typeof validationErrors !== 'undefined' && validationErrors.length > 0) { %>
    <div class="validationErrors">
        <% validationErrors.forEach(function(error){ %>
        <p class="validationErrors_msg"><%- error.msg %></p>
        <% }); %>
    </div>
<% } %>