<%- include('includes/header.ejs') %>
<div class="noPage__wrapper">
    <p class="noPage__404">404</p>
    <p class="noPage__title">Oops....!</p>
    <p class="noPage__message">Página não encontrada.</p>
</div>




<%- include('includes/footer.ejs') %>