body {
    background-color: #E7EEF3;
    font-family: 'Lato', sans-serif;
}

h1 {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 60px;
    color: #ffffff;
}

.login__wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container {
    width: 45%;
    height: 40%;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.loginForm__logo {
    width: 40%;
    background-color: #333F4D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm__logo img {
    display: block;
    width: 68%;
}

.loginForm {
    background-color: white;
    flex: 1;
    padding: 5% 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginForm__inputs {
    width: 70%;
}

.loginForm label {
    font-size: 16px;
    color: #576575;
    display: block;
    margin-bottom: 7px;
}

.loginForm label:not(:first-child) {
    margin-top: 20px;
}

.loginForm input[type=text],
.loginForm input[type=password] {
    width: 100%;
    height: 32px;
    border-radius: 6px;
    border: solid 1px #E5E5E7;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: #29323D;
    box-sizing: border-box;
}

.loginForm__passwordField {
    position: relative;
}

.showPassword__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.loginForm__showPassword--btn {
    cursor: pointer;
    fill: #576575;
    transition: fill 0.2s;
}

.loginForm__showPassword--btn:hover {
    fill: #29323D;
}

.loginForm__btn {
    min-width: 115px;
    align-self: flex-start;
    background-color: #D05744;
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 16px;
    line-height: 2;
    cursor: pointer;
    box-shadow: none;
    transition: all .2s;
}

.loginForm__btn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.loginForm__Error {
    color: red;
    font-size: 14px;
}