@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Light.ttf');
    font-weight: 300;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    color: #2A2C33;
    font-size: 32px;
}

h2 {
    color: #4F4E4E;
    font-size: 26px;
}

h3 {
    color: #8A92A5;
    font-size: 18px;
    font-weight: 400;
}

h4 {
    color: #576575;
    font-size: 24px;
    margin-bottom: 20px;
}

li {
    list-style: none;
}

.swal2-actions > *:focus {
    outline: none !important;
    box-shadow: none !important;
}

.smallWarningText {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    color: red;
    font-size: 80%;
    font-weight: bold;
    letter-spacing: 0.4px;
}

.rowError {
    display: inline-block;
    padding: 0 10px;
}

.noContent {
    color: #9B96B3;
}

.inputSectionTitle {
    color: #9B96B3;
    margin-bottom: 10px;
}

.inputSectionTitle-last {
    margin-top: 30px;
}

.errMsg {
    background-color: #EDC8C5;
    border: solid 1px #BE8180;
    color: #B4302B;
    padding: 6px 20px;
    margin-left: 20px;
    border-radius: 6px;
    font-size: 14px;
}

/************************************
    PSEUDO-ELEMENTS
************************************/

:focus {
    outline: none;
}

/************************************
    BASE ELEMENTS
************************************/
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
}

.btn,
.btn-disabled {
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    line-height: 2.3;
    cursor: pointer;
    box-shadow: none;
    transition: all .2s;
    text-decoration: none;
    display: inline-block;
    padding: 0 16px;
    position: relative;
    overflow: hidden;
    user-select: none;
    letter-spacing: .2px;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.btn:active {
    transform: translateY(0px);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.btn-smaller {
    line-height: 2;
    padding: 0 18px;
    font-size: 14px;
}

.btn-primary {
    background-color: #D05744;
}

.btn-secondary {
    background-color: #398ad0;
    line-height: 2.1;
    padding: 0 16px;
}

.btn-tertiary {
    background-color: #f0ad4e;
}

.btn-print {
    background-color: #f0ad4e;
    padding: 0 10px;
}

.btn-delete {
    background-color: #d9534f;
}

.btn-disabled {
    background-color: #ececec;
    cursor: auto;
}

.btn-cancel {
    text-decoration: none;
    color: inherit;
}

.btn-competicao {
    display: block;
    color: white;
    background-color: #CD5543;
    border-radius: 4px;
    text-decoration: none;
    padding: 6px 15px;
    transition: all .2s;
    position: relative;
    user-select: none;
    letter-spacing: .2px;
}

.btn-competicao:hover {
    transform: translateY(-2px);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.dummyTopSpacer {
    width: 100%;
    height: 40px;
    display: block;
}

.labelRequiredField {
    color: #D05744;
}

@keyframes floatMessageAnimation {
    from {right: -100%;}
    to {right: 5%;}
  }

.floatMessage {
    position: fixed;
    bottom: 10vh;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 360px;
    border-radius: 4px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
    animation-name: floatMessageAnimation;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.floatMessage-icon,
.floatMessage-closeBtn {
    margin: 20px;
}

.floatMessage-closeBtn {
    margin-left: 80px;
}

.floatMessage__content {
    margin-right: auto;
}

.floatMessage-title {
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 700;
}

.floatMessage-msg {
    font-weight: 400;
}

.floatMessage-closeBtn {
    color: #ACC6A4;
    cursor: pointer;
}

.success_msg {
    background-color: #DDF3D5;
    border: solid 1px #AFCDA4;
}

.success_msg > .floatMessage-icon {
    fill: #597151;
}

.success_msg > .floatMessage__content {
    color: #597151;
}

.error_msg {
    background-color: #EDC8C5;
    border: solid 1px #BE8180;
}

.error_msg > .floatMessage-icon,
.error_msg > .floatMessage__content {
    fill: #B4302B;
    color: #B4302B;
}

.error_msg > .floatMessage-closeBtn {
    color: #C89994;
}

.info_msg {
    background-color: #CDE8F5;
    border: solid 1px #7DBCE0;
}

.info_msg > .floatMessage-icon,
.info_msg > .floatMessage__content {
    fill: #447EAF;
    color: #447EAF;
}

.info_msg > .floatMessage-closeBtn {
    color: #A5C6D9;
}

.warning_msg {
    background-color: #F8F4D5;
    border: solid 1px #D8CF82;
}

.warning_msg > .floatMessage-icon,
.warning_msg > .floatMessage__content {
    fill: #96722E;
    color: #96722E;
}

.warning_msg > .floatMessage-closeBtn {
    color: #DCD5A0;
}

.numEquipas__Badge {
    font-size: 13px;
    background-color: #D05744;
    border-radius: 12px;
    padding: 3px 9px;
    color: white;
    text-align: center;
    font-weight: 700;
    letter-spacing: .2px;
    margin-top: 4px;
    margin-left: 20px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.overlay-show {
    display: block;
}

.overlayContainer__wrapper {
    background-color: white;
    border-radius: 8px;
    min-width: 70%;
    height: 75vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
}

.overlayContainer__close {
    position: absolute;
    top: -14px;
    right: -14px;
    width: 28px;
    height: 28px;
    z-index: 9999;
    cursor: pointer;
    transition: all .3s;
}

.overlayContainer__close:hover {
    top: -18px;
    right: -18px;
    width: 34px;
    height: 34px;
}

.overlayContent {
    overflow-y: auto;
}

/************************************
    INPUTS
************************************/
.form {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.inputLabel {
    position: relative;
    display: block;
    margin-bottom: 6px;
    /*color: #576575;
    color: #a6b5c5;*/
    color: #596278;
    font-size: 14px;
}

.labelRequiredField {
    position: absolute;
    top: 10%;
    right: -20px;
    font-size: 140%;
    color: #D05744;
}

.inputBtnBar {
    margin-top: 36px;
}

.inputBtnBar > *:not(:first-child){
    margin-left: 20px;
}

.formInput__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18px;
}

.inputError {
    box-shadow: 0px 0px 0px 1px rgba(255, 0, 0, 0.7);
}

input[type=text],
input[type=password] {
    height: 32px;
    border-radius: 6px;
    /*border: solid 1px #E5E5E7;*/
    border: solid 1px #c2cada;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: #29323D;
    box-sizing: border-box;
}

input[type=text]:focus,
input[type=password]:focus {
    /*box-shadow: 0px 0px 0px 1px rgba(87,101,117,.5);*/
    border: solid 1px #919498;
}

input[type=text]:disabled {
    background-color: #f8f9fc;
    border: solid 1px #d8dde7;
}

.parcial_error {
    box-shadow: 0px 0px 0px 1px rgba(255,0,0,.7);
}

input::placeholder {
    color: #CECECE;
}

.inputErrorMsg {
    color: red;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 5px;
}
/************************************
    LOGIN
************************************/


.login__wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container {
    width: 45%;
    height: 40%;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1280px) {
    .login__container {
        width: 65%;
    }
  }

.loginForm__logo {
    width: 40%;
    background-color: #333F4D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm__logo img {
    display: block;
    width: 68%;
}

.loginForm {
    background-color: white;
    flex: 1;
    padding: 5% 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginForm__inputs {
    width: 80%;
}

.loginForm label {
    font-size: 16px;
    color: #576575;
    display: block;
    margin-bottom: 7px;
}

.loginForm label:not(:first-child) {
    margin-top: 20px;
}

.loginForm input[type=text],
.loginForm input[type=password] {
    width: 100%;
    height: 32px;
    border-radius: 6px;
    /*border: solid 1px #E5E5E7;*/
    border: solid 1px #c2cada;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: #29323D;
    box-sizing: border-box;
}

.loginForm input[type=text]:focus,
.loginForm input[type=password]:focus {
    /*box-shadow: 0px 0px 0px 1px rgba(87,101,117,.7);*/
    border: solid 1px #919498;
}

.loginForm__passwordField {
    position: relative;
}

.showPassword__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.loginForm__showPassword--btn {
    cursor: pointer;
    fill: #576575;
    transition: fill 0.2s;
}

.loginForm__showPassword--btn:hover {
    fill: #29323D;
}

.loginForm__btn {
    min-width: 115px;
    align-self: flex-start;
    background-color: #D05744;
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 16px;
    line-height: 2;
    cursor: pointer;
    box-shadow: none;
    transition: all .2s;
}

.loginForm__btn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.loginForm__Error {
    color: red;
    font-size: 14px;
}

/************************************
    NAVIGATION
************************************/

.navigation__wrapper {
    width: 17%;
    background-color: #333F4D;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
}

.navigation__logo{
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.navigation {
    margin-bottom: auto;
}

.navigation__list {
    margin-top: 82px;
}

.navigation__item {
    list-style: none;
    position: relative;
}

.navigation__link {
    display: block;
    color: white;
    text-decoration: none;
    line-height: 3;
    padding-left: 26px;
    font-size: 16px;
    position: relative;
    border-top: solid 1px #333F4D;
    border-bottom: solid 1px #333F4D;
}

.navigation__link i {
    margin-right: 20px;
}

.navigation__link:hover {
    background-color: #273039;
    border-top: solid 1px #1F262E;
    border-bottom: solid 1px #1F262E;
}

.navigation__link-selected {
    background-color: #273039;
    color: #FF9066;
    border-top: solid 1px #1F262E;
    border-bottom: solid 1px #1F262E;
}

.navigation__link-selected::before {
    content: "";
    width: 4px;
    height: 100%;
    display: block;
    background-color:#FF9066;
    position: absolute;
    top: 0;
    left: 0;
}

.navigation__item-adminMenu::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    right: 10%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    border-color: transparent transparent transparent white;
}

.navigation__item-adminMenu:hover::after,
.adminMenu_open::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: white transparent transparent transparent;
}

.navigation__item-adminMenu ul {
    display: none;
}

.navigation__item-adminMenu:hover ul {
    display: block;
}

.adminMenu_open ul {
    display: block;
}

.navigation__adminMenu-dropMenu-list {
    background-color: #999FA6;
}

.navigation__adminMenu-dropMenu-item {
    list-style: none;
}

.navigation__adminMenu-dropMenu-link {
    display: block;
    color: #333F4D;
    text-decoration: none;
    line-height: 2.75;
    padding-left: 40px;
}

.navigation__adminMenu-dropMenu-link:hover,
.adminMenuSelected {
    color: white;
    background-color: #273039;
}

.navigation__user {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 26px;
}

.user {
    color: white;
    position: relative;
}

.user > i {
    margin-right: 20px; 
}

.userMenu {
    position: relative;
    padding-right: 5px;
    cursor: pointer;
}

.user__navigation {
    display: none;
    width: 200px;
    position: absolute;
    top: -95px;
    left: -175px;
    background-color: #F2F2F2;
    border-radius: 4px;
    box-shadow: 0 3px 18px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border: solid 1px #e4e4e4;
}

.user__navigation-open {
    display: block;
}

.user__navigation-item {
    list-style: none;
}

.user__navigation-link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #333F4D;
    line-height: 3;
    padding: 0 32px 0 16px;
}

.user__navigation-item:last-child a {
    border-top: solid 1px #e4e4e4;
}

.user__navigation-link i {
    margin-right: 10px;
}

.user__navigation-link:hover {
    background-color: #DEDEDE;
}

/************************************
    CONTENT WRAPPER
************************************/

.content__wrapper {
    width: 100%;
    min-height: 100vh;
    margin-left: 17%;
    display: flex;
    flex-direction: column;
    position: relative;
}

/************************************
    BARRA DE TORNEIO
************************************/

.barraTorneio {
    min-height: 70px;
    padding: 10px 40px;
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #E1E5EE;
}

.barraTorneio__buttons {
    margin-left: auto;
    display: flex;
}

.barraTorneio__buttons > *:not(:first-child){
    margin-left: 10px;
}

/************************************
    BREADCRUMBS
************************************/

.breadcrumbs__wrapper {
    margin-bottom: 30px;
    margin-left: 40px;
    display: flex;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: solid 1px #e8e9e9;
    border-radius: 4px;
}

.breadcrumbs__item {
    list-style: none;
    padding: 5px 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.breadcrumbs__item:not(:first-child){
    padding: 5px 25px;
}

.breadcrumbs__separator {
    width: 10px;
    height: 27px;
    position: absolute;
    top: -1px;
    left: -6px;
}

.breadcrumbs__link {
    color: #CECECE;
    display: block;
    text-decoration: none;
}

.breadcrumbs__link:hover {
    color: #4A4949;
}

.breadcrumbs__item__selected {
    color: #4A4949;
}

/************************************
    EQUIPAS
************************************/

.equipasWarning__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.equipasWarning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 65%;
    margin-top: -50px;
}

.equipasWarning__icon {
    width: 200px;
    color: #f1f1f1;
}

.equipasWarning__text-wrapper {
    text-align: center;
}

.equipasWarning__subText {
    color: #333F4D;
}

.actionBar__wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

.actionBar__title {
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.actionBar__buttons {
    display: flex;
    margin-right: 60px;
}

/************************************
    SELECT BOXES PERSONALIZADAS
************************************/

.customSelect {
    min-width: 180px;
    width: auto;
    position: relative;
    margin-left: 12px;
}

.placeholder {
    color: #ababab;
}

.perPageSelect {
    min-width: auto;
}

.adicionarEquipaLocalidadesSelect {
    margin-left: 0;
}

.customSelect__header,
.perPageSelect__header {
    border: solid 1px #c2cada;
    padding: 6px 40px 6px 20px;
    border-radius: 6px;
    color: #19243B;
    cursor: pointer;
    font-size: 15px;
    background-color: white;
    min-height: 32px;
}

.customSelect__header-selected {
    border: solid 1px rgba(87,101,117,.5);
}

.adicionarEquipaLocalidadesSelect__header {
    min-height: 32px;
    border-radius: 6px;
    padding: 6px 60px 6px 10px;
    color: #29323D;
}

.customSelect__header-open,
.perPageSelect__header-open,
.customSelect__header-selected {
    border: solid 1px rgba(87,101,117,.5);
}


.customSelect__header::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 20px;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #576575 transparent transparent transparent;
}

.customSelect__header-dismiss {
    color: #D05744;
    margin-left: -10px;
    margin-right: 10px;
}

.customSelect__list {
    display: none;
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    z-index: 100;
    border: solid 1px rgba(87,101,117,.5);
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    max-height: 312px;
    overflow-y: auto;
}

.perPageSelect__list {
    bottom: 60%;
    top: auto;
    box-shadow: 0px -6px 20px rgba(0, 0, 0, 0.3);
}

.customSelect__list-open {
    display: block;
}

.customSelect__links,
.customSelect__groupTitle,
.perPageSelect__link {
    display: block;
    text-decoration: none;
    padding: 10.5px 20px;
    color: #4A4949;
    cursor: pointer;
}

.perPageSelect__link {
    text-align: center;
    padding: 8px 0; 
}

.customSelect__groupTitle {
    background-color: #333F4D;
    border-bottom: solid 1px #f1f1f1;
    color: white;
    cursor: default;
}

.customSelect__links:not(:last-child) {
    border-bottom: solid 1px #f1f1f1;
}

.customSelect__links:hover,
.perPageSelect__link:hover {
    background-color: #EEEFF3;
}

.customSelect__links-selected,
.perPageSelect__link-selected,
.customSelect__links-selected:hover,
.perPageSelect__link-selected:hover {
    background-color: #E7EEF3;
}

.customSelect__campos__list {
    left: auto;
    padding: 16px 10px 6px 10px;
    min-width: 100%;
    max-height: none;
}

.customSelect__campos-all-link {
    margin: 0 8px;
}

.customSelect__campos__table {
    width: 100%;
    margin: 0 auto;
    border-spacing: 8px;
}

.customSelect__campos-link {
    text-align: center;
    display: block;
    padding: 6px;
    text-decoration: none;
    border: solid 1px #D8DDE7;
    background-color: #f8f9fc;
    border-radius: 4px;
    color: #333f4d;
    min-width: 47px;
    white-space: nowrap;
}

.customSelect__campos-link:hover,
.customSelect__campos-link-selected {
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

.customSelect__campos-link-selected {
    border: solid 1px #D05744;
}

.customSelect__campos-link-completed {
    background-color: #DDF3D5;
}

.customSelect__campos-link-complete:hover {
    background-color: #DDF3D5;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

.searchBox,
.searchedEquipaId__wrapper {
    position: relative;
    margin-left: 12px;
}

.searchBox__input,
.searchedEquipaId__wrapper {
    border: solid 1px #DBE0EB !important;
    padding: 6px 35px 6px 20px;
    border-radius: 8px !important;
    color: #576575;
    cursor: pointer;
    font-size: 15px;
    width: 120px;
    user-select: none;
}

.searchedEquipaId__wrapper {
    width: auto;
    padding: 6px 20px 6px 10px;
}

.searchedEquipaId-dismiss {
    color: #D05744;
    margin-right: 10px;
}

.searchBox__input::placeholder {
    color: #ababab;
}

.searchBox__btn {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    border: none;
    color: #576575;
    font-size: 15px;
    cursor: pointer;
}

.escaloesDefinidos {
    color: #29323D;
}

.info__wrapper {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin-top: 40px;
}


.table__wrapper,
.form__wrapper {
    padding: 0 40px;
    margin-top: 42px;
    margin-bottom: 60px;
}

.table__title {
    color: #576575;
    font-size: 1.3em;
    margin-bottom: 20px;
}

.equipasTable_wrapper {
    margin-bottom: 50px;
}

.mainTable {
    width: 100%;
    border-collapse: collapse;
}

.mainTable th {
    color: #B8C6D6;
    font-size: 14px;
    padding-bottom: 5px;
} 

.mainTable-headerElement-left {
    text-align: left;
    padding-left: 20px;
}

/*.mainTable tbody tr:nth-child(odd) {
    /*background-color: #f8f9fc;*/
    /*background-color: #fbfbfb;*/
    /*border-top: solid 1px #ececec;
    border-bottom: solid 1px #ececec;
}*/

.mainTable tbody tr {
    border-top: solid 1px #ececec;
}

.mainTable tbody tr:last-of-type {
    border-bottom: solid 1px #ececec;
}

.mainTable tbody tr:hover {
    background-color: #F3F5F7;
}

.mainTable tbody tr td {
    padding: 12px 20px;
}

.mainTable__smallHeader {
    width: 1%;
    padding: 0 14px;
}

.equipas__column {
    width: 5%;
    white-space: nowrap;
}

.escalao__column {
    width: 300px;
}

.detalhesBtn__column,
.deleteBtn__column {
    width: 1%;
    white-space: nowrap;
}

.paginacao {
    margin: 0 auto;
    display: flex;
}

.paginacao__item {
    display: block;
    padding: 8px 16px;
    min-width: 20px;
    background-color: white;
    border-left: solid 1px #E0E2E6;
    border-top: solid 1px #E0E2E6;
    border-bottom: solid 1px #E0E2E6;
    text-align: center;
    color: #84929F;
    text-decoration: none;
}

.paginacao__item:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.paginacao__item:last-child {
    border-right: solid 1px #E0E2E6;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.paginacao__item:hover {
    background-color: #F9F9F9;
}

.paginacao__selected {
    background-color: #F3F5F7;
}

.escalaoSelect {
    border: solid 1px #E5E5E7;
    border-radius: 4px;
    display: flex;
}

.escalaoSelect__option {
    padding: 8px 24px;
    text-decoration: none;
    color: #576575;
}

.escalaoSelect__option:not(:first-child){
    border-left: solid 1px #E5E5E7;
}

.escalaoSelect__option:hover,
.escalaoSelect__option-selected {
    background-color: #E7EEF3;
}

.radioButtons__wrapper {
    display: flex;
}

.inputRadioContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
    margin-right: 40px;
    color: #576575;
}

.inputRadioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: solid 1px #E5E5E7;
    border-radius: 50%;
}

.checkmarkError {
    border: solid 1px red;
}

.inputRadioContainer:hover input ~ .checkmark{
    border: solid 1px #29323D;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.inputRadioContainer input:checked ~ .checkmark {
    border: solid 1px #29323D;
}

.inputRadioContainer input:checked ~ .checkmark:after {
    display: block;
}

.inputRadioContainer .checkmark:after {
    background: #29323D;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

/************************************
    TORNEIOS
************************************/

.torneio-active,
.torneio-not-active {
    font-size: 130%;
}

.torneio-active {
    color: #D05744
}

.torneio-not-active {
    color: #EAEAEA;
}

.torneio-not-active:hover {
    color: #e4a49a;
}

.tabbedMenu__wrapper {
    width: 100%;
    background-color: #F4F5F8;
    border-top: solid 1px #DBE0EB;
    border-bottom: solid 1px #DBE0EB;
    margin-top: 20px;
}

.tabbedMenu {
    display: flex;
    align-items: baseline;
    margin-left: 80px; 
}

.tabbedMenu__item {
    font-size: 16px;
    padding: 13px;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .2px;
}

.tabbedMenu__item:not(:first-child){
    margin-left: 100px;
}

.tabbedMenu__item:hover {
    border-bottom: solid 4px #ffbdb2;
}

.tabbedMenu__item-selected,
.tabbedMenu__item-selected:hover {
    border-bottom: solid 4px #D05744;
    font-weight: 700;
}

.tabbedContent__wrapper {
    margin: 40px;
}

.tabbedContainer {
    display: none;
    width: 100%;
    margin-bottom: 54px;
}

.tabbedContainer-open {
    display: block;
}

.camposColumn {
    width: 1%;
    white-space: nowrap;
}

.escalaoCampos__wrapper {
    margin-bottom: 60px;
}

.escalaoNumCampos + label{
    display: inline-block;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
    background-color: white;
    color: #333f4d;
    padding: 8px;
    text-align: center;
    min-width: 42px;
    border: solid 1px #D8DDE7;
    border-radius: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .2s;
}

.escalaoNumCampos + label:first-of-type {
    margin-left: 0;
}

.escalaoNumCampos{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.escalaoNumCampos:not(:disabled) + label:hover {
    color: #333f4d;
    background-color: #e8e8e8;
}

.escalaoNumCampos:checked + label,
.escalaoNumCampos:not(:disabled):active + label,
.escalaoNumCampos:not(:disabled):checked + label:hover {
    color: white !important;
    background-color: #D05744 !important;
    border: none;
}

.escalaoNumCamposMaxRecomendado + label {
    border: solid 1px #ea8b7c;
}

.escalaoExcessoCampos + label {
    background-color: #eeeeee;
    color: #cccccc;
}

.escalaoExcessoCampos:checked + label {
    background-color: #ecaea4;
    color: #efefef;
}

.camposErrorMsg {
    color: red;
    font-size: 14px;
    padding-right: 0 !important;
}

.userLevel {
    width: 160px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.userLevel::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #8B93A6 transparent transparent transparent;
}

.userLevelChange {
    width: 160px;
    margin-top: 8px;
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: white;
    border: solid 1px #333F4D;
    border-radius: 4px;
    box-shadow: 0px 6px 26px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 100;
}

.userLevelChange-open {
    display: flex;
}

.userLevelChange__link {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 12px 20px;
}

.userLevelChange__link-selected {
    background-color: #333F4D;
    color: white;
}

.userLevelChange__item:hover {
    background-color: #EEEFF3;
}

.mainTable-noBorder tbody tr{
    border: none;
}

.tw5 {
    width: 5%;
}

.tw6{
    width: 6%;
}

.tw10 {
    width: 10%;
}

.percursoTorneio_wrapper {
    width: 60%;
    margin-bottom: 60px;
    margin-top: 25px;
    padding-left: 0;
}

.percursoJogosContainer {
    padding-top: 20px;
}

.percursoJogos {
    display: none;
}

.jogosTable {
    margin-top: 20px;
}

.jogosTable tbody tr td {
    padding: 12px 1%;
}

.jogosTableBrSeparator {
    display: block;
    margin-top: 10px;
}

.jogosTablePrimeiroElemento {
    width: 1%;
    white-space: nowrap;
}

/************************************
    LISTAGENS
************************************/
.listagem__item {
    margin: 30px 40px;
}

.listagem__item-title {
    color: #3C3463;
    font-size: 18px;
    margin-bottom: 16px;
}

.listagem__item-content {
    width: 100%;
    height: 80px;
    background-color: #f8f9fc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listagems__item-inputs {
    display: flex;
    align-items: center;
}

.listagem__item-printBtn {
    margin-right: 20px;
}

.listagemFaseSelect,
.listagemCampoSelect {
    display: none;
}

.select-show {
    display: block;
}

.soFolhaRostoContainer {
    display: none;
    position: relative;
    padding-left: 34px;
    cursor: pointer;
    font-size: 16px;
    color: #4A4949;
    margin-left: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.soFolhaRostoContainer-show {
    display: block;
}

.soFolhaRostoInput {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.soFolhaRostoCheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: solid 1px #DBE0EB;
    border-radius: 4px;
}

.soFolhaRostoContainer:hover input ~ .soFolhaRostoCheckmark,
.soFolhaRostoContainer input:checked ~ .soFolhaRostoCheckmark {
    border: solid 1px rgba(87,101,117,.5);
}

.soFolhaRostoCheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

.soFolhaRostoContainer input:checked ~ .soFolhaRostoCheckmark:after {
    display: block;
}

.soFolhaRostoContainer .soFolhaRostoCheckmark:after {
    left: 6px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid #4A4949;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.noTorneio__wrapper,
.noPage__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.noTorneio {
    text-align: center;
}

.noTorneio svg {
    color: #eeeeee;
    width: 256px;
    margin-bottom: 40px;
}

.noTorneio__title,
.noPage__title {
    font-size: 32px;
    color: #d9534f;
}

.noTorneio__subTitle,
.noPage__message {
    font-size: 20px;
    margin-top: 20px;
}

.noPage__404 {
    color: #eeeeee;
    font-size: 220px;
    margin-bottom: 40px;
}

.choice__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 100px 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.lessMargin {
    padding: 32px 40px;
}

.choice__item {
    width: 20%;
    height: 30vh;
    background-color: #f8f9fc;
    border: solid 1px #D8DDE7;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-decoration: none;
    color: #333F4D;
    box-shadow: none;
    transition: all .3s;
    min-width: 180px;
    max-width: 260px;
    margin: 16px;
}

.choice__item-icon {
    font-size: 450%;
}
  
.choice__item-title {
    font-size: 150%;
}

.choice__item:hover {
    background-color: white;
    box-shadow: 0px 6px 22px rgba(0, 0, 0, 0.15);
}

.definirCampos__wrapper {
    margin: 32px 40px 0 40px;
}

.registoParciais__wrapper {
    margin: 0 40px 100px 40px;
}

.registoParciais__campoTitle,
.interditarCampos__title {
    margin-top: 42px;
    color: #596278;
    font-weight: 700;
    font-size: 20px;
}

.interditarCampos__title {
    font-size: 26px;
}

.registoParciais__campoTitle-spacer {
    margin-bottom: 26px;
}

.registoParciais__campoSubTitle,
.interditarCampos__subtitle {
    margin-bottom: 26px;
    color: #8A92A5;
}

.primeiroElemento {
    width: 1%;
    white-space: nowrap;
}

.equipasSeparador {
    margin-top: 22px;
}

.mainTable_parcial {
    width: 1%;
    white-space: nowrap;
    padding: 0 10px;
}

.classificacao__wrapper {
    margin: 0 40px;
    margin-bottom: 100px;
}

.competicao__wrapper {
    margin: 32px 40px 40px 40px;
}

.competicaoEscalao_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.escalao__item {
    width: 300px;
    min-height: 25vh;
    border-radius: 8px;
    margin: 20px;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    border: solid 1px #EDEDED;
    background-color: #F8F8F8;
}

.escalao__item-title {
    font-size: 26px;
    font-weight: 700;
    color: #333F4D;
    border-bottom: solid 1px #DDDDDD;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.escalao__item-equipaVencedora {
    margin-bottom: auto;
}

.escalao__item-checkboxes {
    margin-top: auto;
}

.escalao__item-escalaoStats {
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.escalao__item-escalaoStats-num,
.escalao__item-escalaoStats-num {
    font-size: 36px;
    color: #596278;
    font-weight: 700;
}

.escalao__item-escalaoStats-title {
    font-size: 16px;
    font-weight: 300;
    color: #8A92A5;
}

.escalao__item-select {
    margin-left: 0;
}

.escalao__item-select:first-of-type {
    margin-bottom: 10px;
}

.escalao__item-checkboxes-title {
    font-size: 13px;
    color: #8A92A5;
    margin-bottom: 5px;
}

.escalao__item-equipaVencedora-title {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
    color: #8A92A5;
}
.escalao__item-equipaVencedora-elemento {
    font-size: 22px;
    color: #596278;
    letter-spacing: .2px;
}

.escalao__item-equipaVencedora-localidade {
    font-size: 14px;
    color: #596278;
    letter-spacing: .2px;
    margin-top: 5px;
}

.escalao__item-actionBtnBar {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.escalao__item-errMsg {
    margin-left: 0;
}

.customSelect__camposHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.equipaVencedora__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.equipaVencedora__elementos,
.equipaVencedora__localidade {
    max-width: 47%;
}

.loading {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campos__loading {
    margin: 0;
}

.loading > div {
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background-color: #333f4d;  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.6s infinite ease-in-out both;
    animation: sk-bouncedelay 1.6s infinite ease-in-out both;
}

.loading .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loading .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.interditarCampos__btn {
    position: relative;
}

.interditarCampos__btn .tooltip {
    visibility: hidden;
    position: absolute;
    padding: 0 16px;
    bottom: 190%;
    left: -10px;
    background-color: #333F4d;
    color: white;
    text-align: center;
    z-index: 99;
    border-radius: 8px;  
    line-height: 2.2;
    white-space: nowrap;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.interditarCampos__btn .tooltip::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 17px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #333F4d transparent transparent transparent;
}

.interditarCampos__btn:hover svg path{
    fill: #333F4d;
}

.interditarCampos__btn:hover .tooltip {
    visibility: visible;
}

.interditarCampos__wrapper {
    margin: 40px;
}

.interditarCampos_listaCampos_Wrapper {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.interditarCampos_listaCampos-campo:not(:first-child) {
    margin-left: 12px;
}

.interditarCampos_listaCampos-title {
    font-size: 13px;
    color: #8A92A5;
    margin-bottom: 5px;
}