@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Light.ttf');
    font-weight: 300;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

h2 {
    color: #4F4E4E;
}

h3 {
    color: #9B96B3;
    font-size: 18px;
}

h4 {
    color: #576575;
    font-size: 24px;
    margin-bottom: 20px;
}

li {
    list-style: none;
}

.swal2-actions > *:focus {
    outline: none !important;
    box-shadow: none !important;
}

.smallWarningText {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    color: red;
    font-size: 80%;
    font-weight: bold;
    letter-spacing: 0.4px;
}

.rowError {
    display: inline-block;
    padding: 0 10px;
}

.noContent {
    color: #9B96B3;
}

.inputSectionTitle {
    color: #9B96B3;
    margin-bottom: 10px;
}

.inputSectionTitle-last {
    margin-top: 30px;
}

/************************************
    PSEUDO-ELEMENTS
************************************/

:focus {
    outline: none;
}

/************************************
    BASE ELEMENTS
************************************/
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
}

.btn,
.btn-disabled {
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 16px;
    line-height: 2.3;
    cursor: pointer;
    box-shadow: none;
    transition: all .2s;
    text-decoration: none;
    display: inline-block;
    padding: 0 26px;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.btn:active {
    transform: translateY(0px);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: #D05744;
}

.btn-secondary {
    background-color: #398ad0;
}

.btn-print {
    background-color: #f0ad4e;
    padding: 0 10px;
}

.btn-delete {
    background-color: #d9534f;
}

.btn-disabled {
    background-color: #ececec;
    cursor: auto;
}

.btn-cancel {
    text-decoration: none;
    color: inherit;
}

.dummyTopSpacer {
    width: 100%;
    height: 40px;
    display: block;
}

.labelRequiredField {
    color: #D05744;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.overlay-show {
    display: block;
}

.overlayContainer {
    background-color: white;
    border-radius: 8px;
    min-width: 70%;
    height: 75vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    padding: 24px 12px;
}

/************************************
    INPUTS
************************************/
.form {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.inputLabel {
    position: relative;
    display: block;
    margin-bottom: 10px;
    color: #576575;
}

.labelRequiredField {
    position: absolute;
    top: 10%;
    right: -20px;
    font-size: 140%;
    color: #D05744;
}

.inputBtnBar {
    margin-top: 36px;
}

.inputBtnBar > *:not(:first-child){
    margin-left: 20px;
}

.formInput__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18px;
}

.inputError {
    box-shadow: 0px 0px 0px 1px rgba(255, 0, 0, 0.7);
}

input[type=text],
input[type=password] {
    height: 32px;
    border-radius: 6px;
    border: solid 1px #E5E5E7;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: #29323D;
    box-sizing: border-box;
}

input[type=text]:focus,
input[type=password]:focus {
    box-shadow: 0px 0px 0px 1px rgba(87,101,117,.7);
}

input::placeholder {
    color: #CECECE;
}

.inputErrorMsg {
    color: red;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 5px;
}
/************************************
    LOGIN
************************************/


.login__wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container {
    width: 45%;
    height: 40%;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1280px) {
    .login__container {
        width: 65%;
    }
  }

.loginForm__logo {
    width: 40%;
    background-color: #333F4D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm__logo img {
    display: block;
    width: 68%;
}

.loginForm {
    background-color: white;
    flex: 1;
    padding: 5% 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginForm__inputs {
    width: 70%;
}

.loginForm label {
    font-size: 16px;
    color: #576575;
    display: block;
    margin-bottom: 7px;
}

.loginForm label:not(:first-child) {
    margin-top: 20px;
}

.loginForm input[type=text],
.loginForm input[type=password] {
    width: 100%;
    height: 32px;
    border-radius: 6px;
    border: solid 1px #E5E5E7;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: #29323D;
    box-sizing: border-box;
}

.loginForm input[type=text]:focus,
.loginForm input[type=password]:focus {
    box-shadow: 0px 0px 0px 1px rgba(87,101,117,.7);
}

.loginForm__passwordField {
    position: relative;
}

.showPassword__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.loginForm__showPassword--btn {
    cursor: pointer;
    fill: #576575;
    transition: fill 0.2s;
}

.loginForm__showPassword--btn:hover {
    fill: #29323D;
}

.loginForm__btn {
    min-width: 115px;
    align-self: flex-start;
    background-color: #D05744;
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 16px;
    line-height: 2;
    cursor: pointer;
    box-shadow: none;
    transition: all .2s;
}

.loginForm__btn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.loginForm__Error {
    color: red;
    font-size: 14px;
}

/************************************
    NAVIGATION
************************************/

.navigation__wrapper {
    width: 17%;
    background-color: #333F4D;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
}

.navigation__logo{
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.navigation {
    margin-bottom: auto;
}

.navigation__list {
    margin-top: 82px;
}

.navigation__item {
    list-style: none;
    position: relative;
}

.navigation__link {
    display: block;
    color: white;
    text-decoration: none;
    line-height: 3;
    padding-left: 26px;
    font-size: 16px;
    position: relative;
    border-top: solid 1px #333F4D;
    border-bottom: solid 1px #333F4D;
}

.navigation__link i {
    margin-right: 20px;
}

.navigation__link:hover {
    background-color: #273039;
    border-top: solid 1px #1F262E;
    border-bottom: solid 1px #1F262E;
}

.navigation__link-selected {
    background-color: #273039;
    color: #FF9066;
    border-top: solid 1px #1F262E;
    border-bottom: solid 1px #1F262E;
}

.navigation__link-selected::before {
    content: "";
    width: 4px;
    height: 100%;
    display: block;
    background-color:#FF9066;
    position: absolute;
    top: 0;
    left: 0;
}

.navigation__item-adminMenu::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    right: 10%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    border-color: transparent transparent transparent white;
}

.navigation__item-adminMenu:hover::after,
.adminMenu_open::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: white transparent transparent transparent;
}

.navigation__item-adminMenu ul {
    display: none;
}

.navigation__item-adminMenu:hover ul {
    display: block;
}

.adminMenu_open ul {
    display: block;
}

.navigation__adminMenu-dropMenu-list {
    background-color: #999FA6;
}

.navigation__adminMenu-dropMenu-item {
    list-style: none;
}

.navigation__adminMenu-dropMenu-link {
    display: block;
    color: #333F4D;
    text-decoration: none;
    line-height: 2.75;
    padding-left: 40px;
}

.navigation__adminMenu-dropMenu-link:hover,
.adminMenuSelected {
    color: white;
    background-color: #273039;
}

.navigation__user {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 26px;
}

.user {
    color: white;
    position: relative;
}

.user > i {
    margin-right: 20px; 
}

.userMenu {
    position: relative;
    padding-right: 5px;
    cursor: pointer;
}

.user__navigation {
    display: none;
    width: 200px;
    position: absolute;
    top: -95px;
    left: -175px;
    background-color: #F2F2F2;
    border-radius: 4px;
    box-shadow: 0 3px 18px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border: solid 1px #e4e4e4;
}

.user__navigation-open {
    display: block;
}

.user__navigation-item {
    list-style: none;
}

.user__navigation-link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #333F4D;
    line-height: 3;
    padding: 0 32px 0 16px;
}

.user__navigation-item:last-child a {
    border-top: solid 1px #e4e4e4;
}

.user__navigation-link i {
    margin-right: 10px;
}

.user__navigation-link:hover {
    background-color: #DEDEDE;
}

/************************************
    CONTENT WRAPPER
************************************/

.content__wrapper {
    width: 100%;
    min-height: 100vh;
    margin-left: 17%;
    display: flex;
    flex-direction: column;
    position: relative;
}

/************************************
    BARRA DE TORNEIO
************************************/

.barraTorneio {
    min-height: 70px;
    background-color: #E7EEF3;
    padding: 16px 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barraTorneio__buttons {
    margin-left: auto;
    display: flex;
}

.barraTorneio__buttons > *:not(:first-child){
    margin-left: 10px;
}

/************************************
    BREADCRUMBS
************************************/

.breadcrumbs__wrapper {
    margin-bottom: 30px;
    margin-left: 40px;
    display: flex;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: solid 1px #e8e9e9;
    border-radius: 4px;
}

.breadcrumbs__item {
    list-style: none;
    padding: 5px 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumbs__item:not(:first-child){
    padding: 5px 25px;
}

.breadcrumbs__separator {
    width: 10px;
    height: 33px;
    position: absolute;
    top: -2px;
    left: -6px;
}

.breadcrumbs__link {
    color: #CECECE;
    display: block;
    text-decoration: none;
}

.breadcrumbs__link:hover {
    color: #4A4949;
}

.breadcrumbs__item__selected {
    color: #4A4949;
}

/************************************
    EQUIPAS
************************************/

.equipasWarning__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.equipasWarning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 65%;
    margin-top: -50px;
}

.equipasWarning__icon {
    width: 200px;
    color: #f1f1f1;
}

.equipasWarning__text-wrapper {
    text-align: center;
}

.equipasWarning__subText {
    color: #333F4D;
}

.actionBar__wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

.actionBar__title {
    margin-left: 40px;
}

.actionBar__buttons {
    display: flex;
    margin-right: 60px;
}

/************************************
    SELECT BOXES PERSONALIZADAS
************************************/

.customSelect {
    min-width: 180px;
    width: auto;
    position: relative;
    margin-left: 12px;
}

.placeholder {
    color: #ababab;
}

.perPageSelect {
    min-width: auto;
}

.adicionarEquipaLocalidadesSelect {
    margin-left: 0;
}

.customSelect__header,
.perPageSelect__header {
    border: solid 1px #DBE0EB;
    padding: 6px 40px 6px 20px;
    border-radius: 20px;
    color: #576575;
    cursor: pointer;
    font-size: 15px;
}

.adicionarEquipaLocalidadesSelect__header {
    min-height: 32px;
    border-radius: 6px;
    padding: 6px 60px 6px 10px;
    color: #29323D;
}

.customSelect__header-open,
.perPageSelect__header-open {
    border: solid 1px rgba(87,101,117,.5);
}


.customSelect__header::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 20px;
    width: 0;
    height: 0;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #576575 transparent transparent transparent;
}

.customSelect__header-dismiss {
    color: #D05744;
    margin-left: -10px;
    margin-right: 10px;
}

.customSelect__list {
    display: none;
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    z-index: 100;
    border: solid 1px rgba(87,101,117,.5);
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.perPageSelect__list {
    bottom: 115%;
    top: auto;
    box-shadow: 0px -6px 20px rgba(0, 0, 0, 0.3);
}

.customSelect__list-open {
    display: block;
}

.customSelect__links,
.customSelect__groupTitle,
.perPageSelect__link {
    display: block;
    text-decoration: none;
    padding: 10.5px 20px;
    color: #4A4949;
}

.perPageSelect__link {
    text-align: center;
    padding: 8px 0; 
}

.customSelect__groupTitle {
    background-color: #E7EEF3;
    border-bottom: solid 1px #f1f1f1;
}

.customSelect__links:not(:last-child) {
    border-bottom: solid 1px #f1f1f1;
}

.customSelect__links:hover,
.perPageSelect__link:hover {
    background-color: #EEEFF3;
}

.customSelect__links-selected,
.perPageSelect__link-selected {
    background-color: #333F4D;
    color: white;
}

.searchBox,
.searchedEquipaId__wrapper {
    position: relative;
    margin-left: 12px;
}

.searchBox__input,
.searchedEquipaId__wrapper {
    border: solid 1px #DBE0EB !important;
    padding: 6px 35px 6px 20px;
    border-radius: 20px !important;
    color: #576575;
    cursor: pointer;
    font-size: 15px;
    width: 120px;
    user-select: none;
}

.searchedEquipaId__wrapper {
    width: auto;
    padding: 6px 20px 6px 10px;
}

.searchedEquipaId-dismiss {
    color: #D05744;
    margin-right: 10px;
}

.searchBox__input::placeholder {
    color: #ababab;
}

.searchBox__btn {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    border: none;
    color: #576575;
    font-size: 15px;
    cursor: pointer;
}

.escaloesDefinidos {
    color: #29323D;
}

.info__wrapper {
    position: fixed;
    bottom: 0;
    left: 17%;
    right: 0;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border-top: solid 1px #f1f1f1;
    /*box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.1);*/
}

.table__wrapper,
.form__wrapper {
    padding: 0 40px;
    margin-top: 42px;
    margin-bottom: 60px;
}

.table__title {
    color: #576575;
    font-size: 1.3em;
    margin-bottom: 20px;
}

.equipasTable_wrapper {
    margin-bottom: 100px;
}

.mainTable {
    width: 100%;
    border-collapse: collapse;
}

.mainTable th {
    color: #B8C6D6;
    font-size: 14px;
    padding-bottom: 5px;
} 

.mainTable-headerElement-left {
    text-align: left;
    padding-left: 20px;
}

.mainTable tbody tr {
    border-top: solid 1px #D8DDE7;
    border-bottom: solid 1px #D8DDE7;
}

.mainTable tbody tr:nth-child(odd) {
    background-color: #f8f9fc;
}

.mainTable tbody tr td {
    padding: 12px 20px;
}

.equipas__column {
    width: 5%;
    white-space: nowrap;
}

.escalao__column {
    width: 300px;
}

.detalhesBtn__column,
.deleteBtn__column {
    width: 1%;
    white-space: nowrap;
}

.paginacao__item {
    padding: 4px 10px;
    min-width: 20px;
    background-color: #f8f9ff;
    border: solid 1px #eaebf1;
    border-radius: 8px;
    text-align: center;
    color: #333333;
    text-decoration: none;
    font-weight: 300;
}

.paginacao__item:hover,
.paginacao__selected {
    background-color: #ffffff;
}

.escalaoSelect {
    border: solid 1px #E5E5E7;
    border-radius: 4px;
    display: flex;
}

.escalaoSelect__option {
    padding: 8px 24px;
    text-decoration: none;
    color: #576575;
}

.escalaoSelect__option:not(:first-child){
    border-left: solid 1px #E5E5E7;
}

.escalaoSelect__option:hover,
.escalaoSelect__option-selected {
    background-color: #E7EEF3;
}

.radioButtons__wrapper {
    display: flex;
}

.inputRadioContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
    margin-right: 40px;
    color: #576575;
}

.inputRadioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: solid 1px #E5E5E7;
    border-radius: 50%;
}

.checkmarkError {
    border: solid 1px red;
}

.inputRadioContainer:hover input ~ .checkmark{
    border: solid 1px #29323D;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.inputRadioContainer input:checked ~ .checkmark {
    border: solid 1px #29323D;
}

.inputRadioContainer input:checked ~ .checkmark:after {
    display: block;
}

.inputRadioContainer .checkmark:after {
    background: #29323D;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

/************************************
    TORNEIOS
************************************/

.torneio-active,
.torneio-not-active {
    font-size: 130%;
}

.torneio-active {
    color: #D05744
}

.torneio-not-active {
    color: #EAEAEA;
}

.torneio-not-active:hover {
    color: #e4a49a;
}

.tabbedMenu__wrapper {
    width: 100%;
    background-color: #F4F5F8;
    border-top: solid 1px #DBE0EB;
    border-bottom: solid 1px #DBE0EB;
    margin-top: 42px;
}

.tabbedMenu {
    display: flex;
    align-items: baseline;
    margin-left: 80px; 
}

.tabbedMenu__item {
    font-size: 18px;
    padding: 12px 20px;
    cursor: pointer;
}

.tabbedMenu__item:not(:first-child){
    margin-left: 100px;
}

.tabbedMenu__item:hover {
    border-bottom: solid 4px #ffbdb2;
}

.tabbedMenu__item-selected,
.tabbedMenu__item-selected:hover {
    border-bottom: solid 4px #D05744;
    font-weight: 700;
}

.tabbedContent__wrapper {
    margin: 40px;
}

.tabbedContainer {
    display: none;
    width: 100%;
    margin-bottom: 54px;
}

.tabbedContainer-open {
    display: block;
}

.escalaoCampos__wrapper {
    margin-bottom: 60px;
}

.escalaoNumCampos + label{
    display: inline-block;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
    background-color: white;
    color: #858ca8;
    padding: 8px;
    text-align: center;
    min-width: 42px;
    border: solid 1px #eaebf1;
    border-radius: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .2s;
}

.escalaoNumCampos{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.escalaoNumCampos + label:hover {
    color: #2c3641;
    background-color: #ffffff;
    border: solid 1px #dddfe8;
    box-shadow: 0 2px 16px rgba(69, 92, 199, .2);
}

.escalaoNumCampos:checked + label {
    color: #2c3641;
    background-color: #E7EEF3;
    border: solid 1px #acadb1;
    box-shadow: 0 2px 16px rgba(69, 92, 199, .2);
}

.userLevel {
    width: 160px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.userLevel::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #8B93A6 transparent transparent transparent;
}

.userLevelChange {
    width: 160px;
    margin-top: 8px;
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: white;
    border: solid 1px #333F4D;
    border-radius: 4px;
    box-shadow: 0px 6px 26px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 100;
}

.userLevelChange-open {
    display: flex;
}

.userLevelChange__link {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 12px 20px;
}

.userLevelChange__link-selected {
    background-color: #333F4D;
    color: white;
}

.userLevelChange__item:hover {
    background-color: #EEEFF3;
}

.mainTable-noBorder tbody tr{
    border: none;
}

.tw5 {
    width: 5%;
}

.tw6{
    width: 6%;
}

.tw10 {
    width: 10%;
}

.percursoTorneio_wrapper {
    width: 60%;
    margin-bottom: 60px;
}

.percursoJogos_wrapper {
    width: 100%;
    display: none;
}

.percursoJogos_wrapper-open {
    display: block;
}

.percursoJogosTable,
.percursoJogosTable__innerTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.percursoJogosTable__innerTable {
    border-bottom: solid 1px black;
}

.percursoJogosTable__innerTable-equipas {
    padding-top: 4px;
    padding-bottom: 4px;
}