<div class="customSelect listagemCampoSelect">
    <input type="hidden" name="campo" class="campoInput" value="0" />
    <div class="customSelect__header">
        <span class="placeholder">Campos</span>
    </div>
    <div class="customSelect__list"></div>
</div>