<% if(typeof escaloes != 'undefined'){ %>
<select name="escalao" id="escalao" class="escalaoSelect">
    <option value="" selected>Escalão</option>
    <optgroup label="Masculinos">
        <% escaloes.forEach(function(escalao){ %>
            <% if(escalao.sexo == 1){ %>
                <option value="<%= escalao.escalaoId %>"><%= escalao.designacao %></option>
            <% } %>
        <% }); %>
    </optgroup>
    <optgroup label="Femininos">
        <% escaloes.forEach(function(escalao){ %>
            <% if(escalao.sexo == 0){ %>
                <option value="<%= escalao.escalaoId %>"><%= escalao.designacao %></option>
            <% } %>
        <% }); %>
    </optgroup>
</select>
<% } %>