<div class="customSelect faseEscalaoSelect">
    <input type="hidden" name="fase" class="faseInput" value="0" />
    <div class="customSelect__header">
        <span class="placeholder">Fase</span>
    </div>
    <div class="customSelect__list"></div>
</div>